streamlit
pandas
sqlalchemy
openai
langchain
langchain-community
langchain-experimental
python-dotenv
tqdm
llama_index
typing-extensions>=4.9
requests
PyPDF2

# Excel engines
openpyxl        # reads .xlsx
xlrd<2.0.0      # reads .xls
